{{ block "index" . }}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Huella🐾</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@1.9.12" crossorigin="anonymous"></script>
  <!-- <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/debug.js"></script> -->
    <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.1/p5.js"></script>
</head>
<body>
  <div class="mx-auto grid gap-0
    grid-rows-[40px_50vh] md:grid-rows-[40px_1fr_1fr] lg!:grid-rows-[40px_1fr]
    md:grid-cols-2 lg!:grid-cols-3
    min-h-screen md:max-h-screen">
    <header class="col-span-full bg-[hsl(90deg_100%_30%)] h-full">
      <h1 class="text-4xl text-white">Huella🐾</h1>
    </header>
    <div id="p5container"
      class="bg-[hsl(200deg_100%_80%)] overflow-hidden
      md:col-start-1 lg!:col-start-2
      row-span-1 lg!:row-span-2
      h-full">
      <canvas></canvas>
    </div>
    <div id="yours"
      class="bg-[hsl(290deg_100%_80%)]
      md:row-start-3 lg!:row-start-2
      lg1:col-start-1
      lg!:row-span-2">
      {{ template "form" . }}
    </div>
    <div id="quote"
      class="bg-[hsl(30deg_100%_80%)]
      h-full
      md:row-span-2 lg!:row-span-1
      md:col-start-2 lg!:col-start-3
      md:overflow-x-scroll">
      {{ template "quotes-pane" . }}
    </div>
  </div>
  <script src="/static/script.js"></script>
</body>
</html>

{{ end }}

{{ block "quotes-pane" . }}
  {{ range .Quotes }}
    {{ template "quote" . }}
  {{ end }}

  {{ if .More }}
    <div class="h-4" hx-trigger="intersect once" hx-swap="outerHTML" hx-get="/more?start={{ .Next }}"></div>
  {{ end }}
{{ end }}

{{ block "quote" . }}
  <div class="mb-16">
    <div class="italic mb-4">{{ .Text }}</div>
    <div>Source: <a href="{{ .Link }}" class="underline">{{ .Link }}</a></div>
    <div>{{ range .Hashtags }}<span>#{{ . }}</span> {{ end }}</div>
  </div>
{{ end }}

{{ block "form" . }}
  <form hx-swap="outerHTML" hx-post="/newquote">
    Submit your quote:
    <div>
      <input
        type="text" name="quote" class="bg-gray-200" />
    </div>
    Url (optional):
    <div>
      <input
        type="text" name="url" class="bg-gray-200" />
    </div>
    Hashtags:
    <div>
      <input
        type="text" name="hashtags" class="bg-gray-200" />
    </div>
    <button type="submit" class="bg-gray-300">Submit</button>
  </form>
{{ end }}

{{ block "submitted" . }}
  submitted, thanks!
{{ end }}
