{{ block "quotes-pane" . }}
  {{ range .Quotes }}
    {{ template "quote" . }}
  {{ end }}

  <div class="h-4" id="next-{{ .Next }}">That's it!</div>
{{ end }}

{{ block "quote" . }}
  <div class="quote px-2 py-8 even:bg-white">
    <div class="flex flex-row items-center mb-2">
      <div class="w-8 h-8 bg-[hsl({{ .IconHue }}deg_100%_70%)] text-xl flex justify-center items-center">
        <div class="inline">{{ .Icon }}</div>
      </div>
      <div class="ml-2">
        <div class="text-sm">{{ .Author }}</div>
        <div class="text-xs"><a target="_blank" href="{{ .Link }}" class="underline">Source</a></div>
      </div>
    </div>
    <div id="quote-{{ .Id }}-short" class="mb-4 max-h-12 p-0 overflow-hidden cursor-pointer"
      onclick="this.classList.add('hidden');
               document.querySelector('#quote-{{ .Id }}').classList.remove('hidden')">
      {{ .HtmlText }}</div>
    <div id="quote-{{ .Id }}" class="mb-4 hidden">{{ .HtmlText }}</div>
    <div>
      {{ range .Hashtags }}
        <button
          class="bg-gray-200 hover:bg-gray-800 hover:text-white p-0.5 rounded"
          hx-swap="afterend"
          hx-target="closest .quote"
          hx-get="/get/quotes?hashtag={{ . }}&start=10000">
          #{{ . }}</button>
      {{ end }}
    </div>
    {{ if .EmbedMore }}
      <div class=""
        hx-trigger="intersect once"
        hx-swap="outerHTML"
        hx-target="#next-{{ .Next }}"
        hx-get="/get/quotes?hashtag={{ .Hashtag }}&start={{ .Next }}"></div>
    {{ end }}
  </div>
{{ end }}
