{{ block "quotes-pane" . }}
  {{ range .Quotes }}
    {{ template "quote" . }}
  {{ end }}

  <div class="h-4" id="next-{{ .Next }}">That's it!</div>
{{ end }}

{{ block "quote" . }}
  <div class="quote px-2 py-8 even:bg-white">
    <div id="quote-{{ .Id }}-short" class="mb-4 h-12 p-0 overflow-hidden cursor-pointer"
      onclick="this.classList.add('hidden');
               document.querySelector('#quote-{{ .Id }}').classList.remove('hidden')">
      {{ .HtmlText }}</div>
    <div id="quote-{{ .Id }}" class="mb-4 hidden">{{ .HtmlText }}</div>
    <div>
      {{ range .Hashtags }}
        <button
          class="bg-gray-200 hover:bg-gray-800 hover:text-white"
          hx-swap="afterend"
          hx-target="closest .quote"
          hx-get="/get/quotes?hashtag={{ . }}&start=10000">
          #{{ . }}</button>
      {{ end }}
    </div>
    {{ if .EmbedMore }}
      <div class=""
        hx-trigger="intersect once"
        hx-swap="outerHTML"
        hx-target="#next-{{ .Next }}"
        hx-get="/get/quotes?hashtag={{ .Hashtag }}&start={{ .Next }}"></div>
    {{ end }}
    <div class="text-sm">by {{ .Author }} <a href="{{ .Link }}" class="underline">Source</a></div>
  </div>
{{ end }}
